<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  YumMe</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>
<body class="bg-babyblue overflow-hidden">
    <header class="text-blue-600">
        <div class="container mx-auto py-1 px-1 flex justify-between items-center">
            <div class="flex items-center mx-auto">
               <h1 class=" font-bold text-3xl text-blue-900">YumMe</h1>
            </div>
            <div class="flex items-center justify-end s">
                <partial name="_loginpartial" />
            </div>
        </div>
    </header>
    <main role="main" class="pb-1">
        @RenderBody()
    </main>
    <footer class="bg-black text-white py-4">
        <div class="container mx-auto px-8">
            <div class="flex flex-wrap items-center justify-between">
                <div class="flex items-center">
                    <nav class="mr-4">
                        <ul class="flex">
                            <li class="mr-4"><a href="#">Home</a></li>
                            <li class="mr-4"><a href="#">About</a></li>
                            <li class="mr-4"><a href="#">Services</a></li>
                        </ul>
                    </nav>
                    <nav class="mr-4">
                        <ul class="flex">
                            <li class="mr-4"><a href="#">Privacy Policy</a></li>
                            <li class="mr-4"><a href="#">FAQs</a></li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <span class="text-sm">&copy; 2023 YumMe. All rights reserved.</span>
                </div>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
