<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  YumMe</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>
<body class="overflow-hidden flex flex-col min-h-screen bg-gradient-to-t from-slate-50 via-zinc-300 to-gray-300">
	<header class="text-blue-600">
        <div class="py-1 px-1 items-center justify-end">
            <div class="flex mx-0">
                <partial name="_SidebarMenu" />
            </div>
			<div class="flex items-center pb-1">
				<a href="@Url.Action("Index", "Home")">
					<h1 class="text-3xl font-bold px-4 text-black" style="text-shadow: 0px 2px 3px rgba(29, 24, 24, 0.72);">YumMe</h1>
				</a>
			</div>
        </div>
    </header>
    <main role="main" class="pb-1">
        @RenderBody()
    </main>
	<footer class="footer text-white py-4 mt-auto shadow-lg">
        <div class="mx-auto px-8">
            <div class="flex flex-wrap items-center justify-center mx-auto">
                <div>
                    <span class="text-sm text-black block sm:inline-block">&copy;  2023</span>

                </div>
            </div>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
