
<nav class="items-center justify-between py-1 px-2">

    <div class="items-center">
        <div class="ml-4">
            <ul class="list-none">
                @if (SignInManager.IsSignedIn(User))
                {
					<form class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-900 hover:bg-blue-700  rounded-xl" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
						<button type="submit">Logout</button>
					</form>
				}
                else
                {
           
					<a class="block w-full mx-auto py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-900 hover:bg-blue-700  rounded-xl" asp-area="Identity" asp-page="/Account/Register"> Register</a>

					<a class="block w-full mx-auto py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-900 hover:bg-blue-700  rounded-xl" asp-area="Identity" asp-page="/Account/Login">Login</a>
                   
                }
            </ul>
        </div>
    </div>
</nav>

