@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>

    .active {
        box-shadow: 0px 10px 14px -7px dodgerblue;
        background: linear-gradient(to bottom, dodgerblue 100%);
        background-color: dodgerblue;
        border-radius: 8px;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 13px 32px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #283966;
    }

</style>

<div class="flex-col ">
    <button id="profileButton" class=" text-b font-bold py-2 rounded my-6">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
    </button>
</div>

<div class="flex-col">
    <button id="changePasswordButton" class=" text-black font-bold py-2 rounded">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
    </button>
</div>





<script>

    const profileButton = document.getElementById("profileButton");
    const changePasswordButton = document.getElementById("changePasswordButton");



    profileButton.addEventListener("click", () => {
        profileButton.classList.toggle("active");
        changePasswordButton.classList.remove("active");

    });



    changePasswordButton.addEventListener("click", () => {
        changePasswordButton.classList.toggle("active");
        profileButton.classList.remove("active");

    });

</script>

@*<script>
    document.addEventListener('DOMContentLoaded', function () {
        let links = document.querySelectorAll('button');

        links.forEach(link => {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                links.forEach(link => link.classList.remove('bg-blue-600', 'text-white'));
                this.classList.add('bg-blue-600', 'text-white');
            });
        });
    });
</script>*@

