@page
@model ChangePasswordModel
@{
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<body class="bg-gray-200">
    <div class=" flex p-10">
        <div class="max-w-md w-full bg-white p-10 shadow-lg rounded-lg leading-normal">
            <div class="text-2xl font-light uppercase mb-6 ">Change Password</div>
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-5">
                    <label for="old-password" class="text-sm mb-2 block text-gray-500 after:content-['*'] after:ml-0.5 after:text-red-500">Old Password</label>
                    <input id="email" asp-for="Input.OldPassword" class="border p-3 rounded w-full focus:border-blue-500 focus:outline-none" autocomplete="current-password" aria-required="true" placeholder="Your old password." />
                    <span asp-validation-for="Input.OldPassword" class="text-red-500 text-sm"></span>
                </div>
                <div class="mb-5">
                    <label for="new-password" class="text-sm mb-2 block text-gray-500">New Password</label>
                    <input id="new-password" asp-for="Input.NewPassword" class="border p-3 rounded w-full focus:border-blue-500 focus:outline-none" autocomplete="new-password" aria-required="true" placeholder="Your new password.">
                    <span asp-validation-for="Input.NewPassword" class="text-red-500 text-sm"></span>
                </div>
                <div class="mb-6">
                    <label for="confirm-password" class="text-sm mb-2 block text-gray-500 mb-2">Confirm Password</label>
                    <input id="confirm-password" asp-for="Input.ConfirmPassword" class="border p-3 rounded w-full focus:border-blue-500 focus:outline-none" autocomplete="new-password" aria-required="true" placeholder="Confirm your new password." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-red-500 text-sm"></span>
                </div>
                <div>
                    <button type="submit" class="px-4 py-2 text-white rounded hover:bg-blue-600" style=" background-color: dodgerblue;">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
