@page
@model ChangePasswordModel
@{
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<body class="bg-gray-200">
    <div class="flex items-center justify-center mt-8">
        <div class="bg-gray-100 p-10 rounded shadow-md w-full sm:w-2/3 md:w-1/2 lg:w-1/3 xl:w-1/4 ">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-4">
                    <label for="old-password" class="block mb-2 font-bold after:content-['*'] after:ml-0.5 after:text-red-500">Old Password</label>
                    <input id="email" asp-for="Input.OldPassword" class="peer w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600
                        focus:invalid:border-pink-500 focus:invalid:ring-pink-500" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                    <span asp-validation-for="Input.OldPassword" class="text-red-500 text-sm"></span>
                </div>
                <div class="mb-4">
                    <label for="new-password" class="block mb-2 font-bold">New Password</label>
                    <input id="new-password" asp-for="Input.NewPassword" class="peer w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600
                        focus:invalid:border-pink-500 focus:invalid:ring-pink-500" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                    <span asp-validation-for="Input.NewPassword" class="text-red-500 text-sm"></span>
                </div>
                <div class="mb-6">
                    <label for="confirm-password" class="block font-bold mb-2">Confirm Password</label>
                    <input id="confirm-password" asp-for="Input.ConfirmPassword" class="peer w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600
                        focus:invalid:border-pink-500 focus:invalid:ring-pink-500" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-red-500 text-sm"></span>
                </div>
                <div>
                    <button type="submit" class="px-4 py-2 text-black bg-blue-500 rounded hover:bg-slate-800">Update password</button>
                </div>
            </form>
        </div>
    </div>
</body>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
