@model DishViewModel


<body class="bg-gray-200">
	<div class="mt-10 left-0 right-0 transform -translate-y-1/2 flex items-center justify-center">
		<span class="text-6xl text-black font-bold pt-5" style="text-shadow: 0px 1px 2px rgba(29, 24, 24, 0.72);">
			@Model.Name
		</span>
	</div>
	<div class="flex justify-center items-center">
		<div class="relative border border-gray-200 ">
			<div class="rounded overflow-hidden shadow-[0_20px_50px_rgba(32,_32,_32,_0.8)] bg-white">
				<div class="">
					<img class="h-[40rem] w-[60rem] object-cover" src="@Model.FoodImage" alt="Card Image">
				</div>
			</div>
		</div>
	</div>
	<div class=" bottom-4 mt-8 left-0 right-0 flex justify-center">
		<a href="info/dishinfo/@Model.Id" class="inline-block rounded bg-blue-900 px-8 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
			View Details
		</a>
		@if (SignInManager.IsSignedIn(User))
		{
			<button type="button" onclick="location.reload();" class="inline-block rounded bg-blue-900 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] ml-4">
				New Suggestion
			</button>
		}
		else
		{
			<button type="button" onclick="handleButtonClick()" class="inline-block rounded bg-blue-900 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] ml-4">
				New Suggestion
			</button>
		}
	</div>
</body>





<script>

	function handleButtonClick() {

		if (localStorage.getItem('clickCount')) {
			let clickCount = parseInt(localStorage.getItem('clickCount'));
			if (clickCount < 3) {
				clickCount++;
				localStorage.setItem('clickCount', clickCount);
				location.reload();
			} else {
				alert('You have reached the maximum limit of clicks.');
			}
		} else {
			localStorage.setItem('clickCount', 1);
			location.reload();
		}
	}

	function updateClicksLeft() {
		let clickCount = parseInt(localStorage.getItem('clickCount')) || 0;
		let clicksLeft = 3 - clickCount;
		document.getElementById('clicksLeft').innerHTML = clicksLeft;
	}
	updateClicksLeft();

</script>