@{
    ViewData["Title"] = "Home Page";
}



<div class="flex justify-center items-center">
    <h1 class="">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="bg-blue-500 text-white p-4 justify-center">En exempeltext</div>
</div>



<div>
    <div class="bg-blue-500 text-white p-4 justify-center">En exempeltext</div>
</div>