@model DishViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<body class="overflow-hidden">
    <section class="bg-gray-100 py-8 h-50 bg-cover bg-center" id="backgroundSection" style="background-image: url('@Model.FoodImage');">
        <div class="container mx-auto px-6 h-screen flex flex-col items-center justify-center relative">
            <div class="image-text bg-gray-900  text-center border  border-gray-300 shadow-md p-4 absolute bottom-60 mb-4">
                <h2 class="text-2xl font-serif mb-4 text-center text-white">
                    <em><span class="text-lg font-bold italic">@Model.Name</span></em>
                </h2>
                <p class="text-lg font-bold italic text-white">
                    <em>@Model.Cuisine</em>
                </p>
            </div>

            <div class="absolute bottom-20 mb-10">
                <div class="mb-6">
					@if (SignInManager.IsSignedIn(User))
					{
						<button type="button" onclick="location.reload();" class="px-6 py-4 bg-gray-900 text-white border border-gray-300 shadow-md">
							New Suggestion
						</button>
					}
					else
					{
						<button type="button" onclick="handleButtonClick()" class="px-6 py-4 bg-gray-900 text-white border border-gray-300 shadow-md">
							New Suggestion
						</button>
					}
                </div>
                <div>
                    <a href="info/dishinfo/@Model.Id" class="px-10 py-4 bg-gray-900 text-white border border-gray-300 shadow-md no-underline">
                        View Details
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
<script>

    function handleButtonClick() {

        if (localStorage.getItem('clickCount')) {
            var clickCount = parseInt(localStorage.getItem('clickCount'));
            if (clickCount < 3) {
                clickCount++;
                localStorage.setItem('clickCount', clickCount);
                location.reload();
            } else {
                alert('You have reached the maximum limit of clicks.');
            }
        } else {
            localStorage.setItem('clickCount', 1);
            location.reload();
        }
    }

</script>